<div class="main">
<div class="container">
  <h1>お問い合わせ内容を送信しました</h1>
  <p>ご連絡までお時間がかかる場合がございます。
    三日以内に連絡がない場合は、お手数ですが再度お問い合わせください。</p>
    <div class="top-button">
      <button type="button" onclick="location.href='/'">トップ画面へ戻る</button>
    </div>
</div>
</div>
